@{
    @model IEnumerable<JZ.Application.Contract.Dtos.Business.ZDXXDto>

}

<div class="row">
    <form asp-controller="ZDXX" asp-action="Index" method="get">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">字典管理</h4>
                
            </div>
            <div class="card-body p-6">
                <div class="inbox-body">
                    <div class="row">
                        <div class="form-row align-items-center">
                            <div class="col-auto">
                                <select name="ZDFLBM" class="form-control form-select select2 " data-bs-placeholder="选择字典分类">
                                    <option value="">选择字典分类</option>
                                    @foreach (JZ.Application.Contract.Dtos.Business.ZDXXDto flitem in ViewBag.FLlist)
                                    {
                                        <option value="@flitem.ZDFLBM" selected='@( Context.Request.Query["ZDFLBM"] == flitem.ZDFLBM)'>@flitem.ZDFLMC</option>
                                    }
                                </select>
                            </div>

                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary ">查询</button>
                            </div>
                            <div class="col-auto">
                                <a type="button" id="btnAdd" asp-controller="ZDXX" asp-action="Details" class="btn btn-primary">新增</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table border text-nowrap text-md-nowrap table-hover mb-0">
                            <thead>
                                <tr>

                                    <th scope="col">分类编码</th>
                                    <th scope="col">分类名称</th>
                                    <th scope="col">字典编码</th>
                                    <th scope="col">字典名称</th>
                                    <th scope="col">顺序</th>
                                    <th scope="col">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (JZ.Application.Contract.Dtos.Business.ZDXXDto item in Model)
                                {
                                    <tr>
                                        <td>@item.ZDFLBM</td>
                                        <td>@item.ZDFLMC</td>
                                        <td>@item.ZDBM</td>
                                        <td>@item.ZDMC</td>
                                        <td>@item.ZDSX</td>
                                        <td>
                                            <div class="col-md-3">
                                                <a type="button" id="btnAdd" asp-controller="ZDXX" asp-route-returnUrl="@Context.Request.QueryString.Value" asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-primary">修改</a>
                                                <a href="#" data-id="@item.ID" class="btn btn-sm btn-danger">删除</a>
                                            </div>

                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination mb-4">
            @await Component.InvokeAsync("Pagination")
        </ul>

    </form>

    @section Scripts{
        <script type="text/javascript">

            //删除
            $(".btn-danger").on("click", function (e) {
                const ids = e.target.dataset.id;
                layer.confirm('确认删除数据吗?', { icon: 3, title: '提示' }, function (index) {
                    $.ajax({
                        type: "post",
                        datatype: "json",
                        url: "/ZDXX/Delete" ,
                        data: { ids: ids },
                        success: function (result) {
                            if (result.code == 200) {
                                MyShower.ShowMsg("删除成功",function(){
                                    window.location.reload();

                                })
                            } else {
                                layer.msg("删除失败!");
                            }
                        }


                    });


                });

            });

        </script>
    }

</div>